<nav class='links'>
  <ul>
    <li><%= link_to_unless_current "Calendar", calendar_path %></li>
    <li><%= link_to_unless_current "Hackfests", hackfests_path %></li>
    <li><a href="https://groups.google.com/group/bangalorerug" title="Mailing list">Mailing list</a></li>
    <li><a href="irc://irc.freenode.net/bangaloreruby">IRC</a></li>
    <li><a href="http://twitter.com/bangaloreruby" title="Tweets from bangaloreruby">Twitter</a></li>
    <li><a href="http://github.com/bangaloreruby" title="Shared code from bangaloreruby">Github</a></li>
  </ul>
</nav>

