<section class='thin column'>
  <% 10.times do |i|%>
      <article>
        <header><h2>Foo User <%= i%></h2></header>
        <p>Bar Details</p>
        <p>Bar Details</p>
        <p>Bar Details</p>
        <p>Bar Details</p>
        <p>Bar Details</p>
      </article>
  <%end%>
</section>
